<div class="md:flex md:items-start md:justify-between">
  <div class="flex items-center">
    <a href="/">
      <%= image_tag 'bram.jpg', alt: "Bram Jetten", class: 'rounded-lg w-16 md:w-20 mr-4 md:mr-8' %>
    </a>
    
    <div class="">
      <%= link_to '/', class: 'text-2xl md:text-3xl block tracking-tight font-extrabold text-gray-700' do %>
        Bram Jetten
      <% end %>
      
      <nav class="md:mt-1">
        <ul class="flex -ml-3">
          <% nav_items.each do |nav_item| %>
            <li>
              <%= link_to nav_item.menu_title, nav_item.materialized_path, class: "px-3 block font-medium hover:text-gray-900 #{(current_page.materialized_path.starts_with? nav_item.materialized_path) ? 'text-gray-900' : 'text-gray-400'}" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
  
  <div class="flex md:space-x-3 justify-center absolute md:relative top-4 right-2 md:inset-auto">
    <%= link_to 'https://www.spinacms.com', class: 'items-center p-2 md:p-3 text-gray-400 hover:text-gray-700 flex', target: :blank do %>      
      <svg viewBox="0 0 100 100" class="h-5 w-5 md:mr-2" style="color: #6766AF" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
        <path d="M48.6582924,96.1623174 L0.472662785,39.1647593 C-0.121452015,38.4619959 -0.159345587,37.4445295 0.380849751,36.699521 L20.3780861,9.12040239 C20.6765111,8.70883071 21.1204689,8.42634978 21.6197077,8.33038495 L49.1629705,3.03595601 C49.3934881,2.99164538 49.6300066,2.9882617 49.8616974,3.02595987 L78.3181435,7.65607741 C78.8410521,7.74115931 79.30884,8.0302376 79.6188319,8.45986224 L99.9955684,36.7004267 C100.533013,37.4452826 100.494021,38.460456 99.9010274,39.1618937 L51.7129756,96.1623174 C50.999859,97.0058449 49.7379497,97.1115638 48.8944223,96.3984473 C48.8092674,96.3264575 48.7302822,96.2474723 48.6582924,96.1623174 Z"></path>
      </svg>

      <span class="text-sm font-medium hidden md:block">Spina CMS</span>
    <% end %>
    
    <%= link_to 'https://bsky.app/profile/bramjetten.dev', class: 'flex items-center p-2 md:p-3 text-gray-400 hover:text-blue-400', target: :blank do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 530" class="w-5 md:mr-2" version="1.1"><path d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z" fill="#1185fe"/></svg>
      <span class="text-sm font-medium hidden md:block">@bramjetten.dev</span>
    <% end %>
  </div>
</div>
